.App {
  background: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gate_box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  background: rgba(255, 255, 255, 0.8);
  padding: 1%;
  border-radius: 1vw;
  box-shadow: 0 0 1vw #031b3d;
}
.gate_box h1 {
  color: #052659;
  font-family: cursive;
  margin-bottom: 1.5vh;
  font-size: 5vh;
  letter-spacing: 0.1vw;
}
.gate_box input {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 4vh;
  border-bottom: 0.2vh solid #052659;
  padding: 0.5vh 0.3vw;
}
.gate_box .msg {
  font-size: 2vh;
  height: 2vh;
  color: red;
  letter-spacing: 0.1vw;
}
.gate_box button {
  background: #052659;
  color: whitesmoke;
  font-size: 3.5vh;
  padding: 1vh 1vw;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 0.5vw;
  margin: 0.5vh 0;
}
.gate_box button:hover {
  background: #031b3d;
}
.gate_box .gate_switch {
  font-family: sans-serif;
  cursor: pointer;
  width: max-content;
}
.gate_box .gate_switch:hover {
  text-decoration: underline;
}

.main_page {
  background-color: rgba(255, 255, 255, 0.8);
  width: 97.5%;
  height: 95%;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
}

.main_page .modal_open {
  background-color: #052659;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  box-shadow: 0 0 1vw gray;
  color: whitesmoke;
  font-size: 30px;
  position: absolute;
  bottom: 3.5vh;
  right: 2vw;
  outline: none;
  border: 0;
  cursor: pointer;
}
.main_page .modal_open:hover {
  background-color: #031b3d;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: aliceblue;
  padding: 1vh;
  width: 350px;
  border-radius: 1vw;
  box-shadow: 0 0 1vw #031b3d;
  display: flex;
  flex-direction: column;
}
.char-count {
  text-align: right;
  font-size: 2vh;
}
.modal textarea {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 4vh;
  border-bottom: 0.2vh solid #052659;
  padding: 0.1vh 0.1vw;
  margin-top: 0.5vh;
}
.modal div {
  display: flex;
  justify-content: space-between;
  margin: 0.05vh 0;
}
.modal div button {
  font-size: 3vh;
  width: 50%;
  border: 0;
  color: whitesmoke;
  padding: 0.6vh 0;
  cursor: pointer;
}
.modal .msg {
  color: red;
  height: 2.3vh;
  font-size: 1.8vh;
  letter-spacing: 0.1vw;
}
#close_modal {
  background: gray;
  border-bottom-left-radius: 0.5vw;
  border-top-left-radius: 0.5vw;
}
#save_modal {
  border-bottom-right-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  background: #052659;
}
#close_modal:hover {
  background: rgb(110, 110, 110);
}
#save_modal:hover {
  background: #031b3d;
}

.mp_head {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw;
}
.mp_head h1 {
  font-family: cursive;
  font-size: 3.5vh;
  color: #052659;
}
#list_items {
  overflow-y: scroll;
  padding-bottom: 10vh;
  width: 100%;
}
.list_item {
  display: flex;
  align-items: center;
  width: 92%;
  margin: .6% 2%;
  background-color: rgb(240, 240, 240);
  padding: 1% 2%;
  font-size: 3vh;
  border-radius: 1vw;
}
.list_item p {
  flex: 1;
}
#dlt_input {
  appearance: none;
  width: 2vh;
  height: 2vh;
  background: white;
  border: 1px solid #052659;
  cursor: pointer;
  outline: none;
  position: relative;
}
#dlt_input:checked {
  background-color: #052659;
}
#dlt_input:checked::after {
  content: '✓';
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.5vh;
  right: .2vw;
}

@media only screen and (max-width: 500px) {
  .App {
    height: 94vh;
  }
  .gate_box {
    width: 350px;
    padding: 2% 3%;
    border-radius: 3vh;
    box-shadow: 0 0 2vw #031b3d;
  }
  .gate_box button {
    border-radius: 2vw;
  }
  .main_page .modal_open {
    bottom: 3vh;
    right: 4vw;
  }
  .main_page {
    width: 95%;
    border-radius: 2vh;
  }
  .modal {
    border-radius: 3vw;
    box-shadow: 0 0 2vw #031b3d;
  }
  #close_modal {
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
  }
  #save_modal {
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
  }
  .list_item {
    border-radius: 2vw;
  }
}
